.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1a1a1a; /* Adding a dark background to match the theme */
  border-bottom: 4px solid #5a3929; /* Dark brown border for a more rustic look */
}

.navigation__item {
  font-size: 1.4rem;
  margin: 0 2rem;
  padding: 1rem;
  text-decoration: none;
  color: #aaa9a0; /* Using a silver-like color to match the medieval theme */
  border: 2px solid transparent;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.navigation__item:hover {
  color: #b5651d; /* A shade of bronze/gold for hover effect, inspired by the rich colors of GoT banners */
}

.navigation__item--active {
  border: 2px solid #b5651d; /* Same bronze/gold color for the active item border */
  font-weight: bold; /* Making the active item bolder */
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Slightly dark background for active item */
}
