.navigation {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of items if there's not enough space */
  align-items: center;
  justify-content: center;
  height: auto; /* Adaptable height based on content */
  padding: 1rem; /* Some space for better visual appearance */
  background-color: #1a1a1a;
  border-bottom: 4px solid #5a3929;
}

.navigation__item {
  font-size: 1.4rem;
  margin: 0.5rem; /* Adjusted margin for better spacing */
  padding: 0.5rem; /* Adjusted padding */
  text-decoration: none;
  color: #aaa9a0;
  border: 2px solid transparent;
  transition: color 0.3s ease;
}

.navigation__item:hover {
  color: #b5651d;
}

.navigation__item--active {
  border: 2px solid #b5651d;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Media query for devices with a max width of 600px */
@media (max-width: 600px) {
  .navigation__item {
    font-size: 1rem; /* Smaller font size for smaller screens */
    margin: 0.3rem;
    padding: 0.3rem;
  }
}
